* {
    box-sizing: border-box;
}

html,body { 
    height: 100%;
    padding: 0;
    margin:0;
    font-family: arial;
}

.header-wrapper {
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 30;
    background-color: aqua;
    max-height: 100%;
}

.header {
    position: sticky;
    width: 100%;
    height:100%;
    background-color:black;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.webpagename {
    margin: 0;
    font-size: 18px;
    width: 50%;
    height:100%;
    background-color: red;
    text-align: center;
    line-height:100px;
}

.webpagename a {
    text-decoration: none;
    color:white;
}

.menu {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Adjust as needed */
    background-color: yellow;
    width: 50%;
    height:100%;
}

.menu a {
    text-decoration: none;
    color: white; /* Example color styling for links */
}

.image-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

.container-to-image {
    position:absolute;
    background-image: url("https://i.postimg.cc/nr6D1tfT/pexels-percival-ian-muico-2835547.jpg");
    background-size: cover;
    height: auto;
    width: 100%;
    margin-top:0;
    margin-left:0;
}

p {
    width: 100px;
}
